.favoritesItem {
  width: 200px;
  min-height: 250px;
  background: linear-gradient(
    0deg,
    rgba(239, 118, 137, 0.2) 10%,
    rgba(161, 89, 160, 0.2) 30%,
    rgba(102, 80, 175, 0.5) 60%
  );
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favoritesItem:hover {
  opacity: 0.8;
}
.favoritesItem > button {
  margin-top: auto;
  width: 100%;
  border-radius: 3px;
  height: 30px;
  line-height: 20px;
  font-family: "outfit-500", Helvetica, sans-serif;
  background-color: transparent;
  border: none;
}
.temperatureGuard {
  pointer-events: none;
}
.favoritesItem > button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.location {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  word-break: break-all;
  text-transform: capitalize;
  color: #fff;
  font-size: var(--font-size-large);
  font-family: "outfit-800", Helvetica, sans-serif;
}
.description {
  width: 100%;
  word-break: break-all;
  margin-bottom: 20px;
  color: var(--pink);
  font-family: "outfit-500", Helvetica, sans-serif;
}
.darkMode {
  background: var(--dark-mode-background-gradient);
}
.darkModeColor {
  color: var(--purple);
}
@media screen and (max-width: 800px) {
  .favoritesItem {
    width: 100%;
    margin-right: 0;
  }
  .location,
  .description {
    text-align: center;
  }
}
