.navButton {
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  padding: 4px 10px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-color);
  font-family: "Outfit-300", Helvetica, sans-serif;
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
}
.navButton > span {
  margin-left: 5px;
}
.navButton > img {
  width: 20px;
  margin-left: -2px;
}
.navButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.navButton:focus {
  outline: none;
}
.active {
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 800px) {
  .navButton > span {
    display: none;
  }
}
