.addToFavorite {
  margin: 0;
  margin-left: 10px;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: transparent;
  font-size: var(--font-size-small);
  font-family: "outfit-600", Helvetica, sans-serif;
  background-color: var(--blue);
  color: #fff;
  display: flex;
  align-items: center;
}
.addToFavorite > img {
  margin-left: 5px;
}
.addToFavorite:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .addToFavorite {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    font-size: var(--font-size-medium);
  }
}
