.forecastItem {
  width: 250px;
  aspect-ratio: 4/5;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  box-shadow: 1px 1px 10px 0px rgb(102, 80, 175, 0.2);
  cursor: default;
}
.forecastItem > img {
  width: 90px;
  margin-bottom: 20px;
}
.minMaxWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.seperator {
  margin: 0 10px;
}
.dayOfWeek {
  margin-bottom: 20px;
  font-size: var(--font-size-extra-large);
  text-transform: capitalize;
  font-family: "outfit-900", Helvetica, sans-serif;
  color: var(--purple);
}
.descriptionText {
  position: relative;
  border-top: 2px solid var(--purple);
  width: 100%;
  color: #fff;
  font-family: "outfit-600", Helvetica, sans-serif;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  color: var(--pink);
}
.text {
  margin-bottom: 10px;
}
.descriptionTextHeader {
  position: absolute;
  top: -10px;
  left: calc(50% - 25px);
  width: 50px;
  border: 1px solid var(--purple);
  background-color: var(--purple);
  color: #fff;
  border-radius: 3px 3px 0 0;
  font-size: 12px;
}
.darkModeColor {
  color: var(--dark-mode-black);
}

@media screen and (max-width: 800px) {
  .forecastItem {
    width: 100%;
    aspect-ratio: 1/1;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
