.forecast {
  width: calc(100% - 40px);
  margin-top: 10px;
  padding-top: 20px;
  border-top: 2px solid var(--blue);
}
.header {
  font-family: "outfit-500", Helvetica, sans-serif;
  color: var(--pink);
  margin-bottom: 20px;
}
.forecastContainer {
  padding: 20px;
  border-radius: 6px;
  background: linear-gradient(
    0deg,
    rgba(239, 118, 137, 0.2) 10%,
    rgba(161, 89, 160, 0.2) 30%,
    rgba(102, 80, 175, 0.5) 60%
  );
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.darkMode {
  background: var(--dark-mode-background-gradient);
}
.darkModeColor {
  color: var(--main-color);
}
.darkModeBorderTop {
  border-top: 2px solid var(--purple);
}
