:root {
  --input-field-desktop-width: 350px;
  --input-field-mobile-width: calc(100vw - 100px);
}

.searchLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.inputWrapper > img {
  margin: 5px;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.searchInput {
  height: 40px;
  padding: 0;
  border: 0.5px solid var(--purple);
  border-radius: 5px;
  width: 350px;
  padding: 0 6px;
  font-family: "outfit-300", Helvetica, sans-serif;
  font-size: var(--font-size-small);
  color: var(--purple);
}
.searchInput:focus {
  outline: none;
  border-width: 2px;
}

@media screen and (max-width: 800px) {
  .searchInput {
    width: calc(100vw - 100px);
  }
}
